################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/build
/SvpTradingPanel/bin
/SvpTradingPanel/obj
/Utils/bin/
/Utils/obj/
/Mtp5Api/bin/
/Mtp5Api/obj/
